body {
  background-color: #282830;
	font-family: Papyrus,fantasy;
	letter-spacing: 0px;
	overflow: hidden;
}
#container {
	background-color: #3C3741;

	width:  335px;
	height: 110px;

	text-align: center;

	border: solid 2px #EFE0B1;
	border-radius: 3px;

	position: absolute;
	left: 469px;
	top: 270px;
}
